---
layout: layouts/base.njk
---
{%- if page.url == "/" %}
<div class="window dialogue">
	<p>Hello my friend, stay a while and listen.</p>
</div>
{{ content | safe }}
{%- elif bare %}
{{ content | safe }}
{%- else %}
<div class="window">
{{ content | safe }}
</div>
{%- endif %}
